// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.separator { 
    padding: 2px; 
    min-height: 1px;
    }
.stopka {
    min-height: 50%;
    overflow-y: hidden;;
    background: #f0e68c; 
    }
.fill-height {
    height:auto !important; 
    height: 100%; 
    }
